html,
body {
  padding: 0;
  margin: 0;
  width: auto;
  align-items: center;
  align-content: center;
  text-align: justify;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  color: #b0b0b0;
  background-color: #110E03;
}

* {
  box-sizing: border-box;
}

a {
  color: #8a6297;
  text-decoration: none;
}

a:hover {
  cursor: crosshair;
  text-decoration: none;
  font-weight: 500;
}

img {
  max-width: 100%;
  display: block;
}

hr {
  border: #b0b0b0 solid 1px;
  width: 80%;
}

code {
  margin: 10px;
  color: black;
}

pre {
  padding-top: 10px;
  padding-bottom: 15px;
  border-radius: 5px;
  background-color: #c8c8c8;
  cursor: crosshair;
}
